.App {
    background: linear-gradient(180deg,rgba(0, 90, 255, 1) 50%,rgba(0, 20, 100, 1) 50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-arround;
    height: 50em;
}

.form_usuario {
    background-color: ghostwhite;
    border-radius: 0.5em;
    width: 90vw; /* Ajusta a largura conforme o viewport, com limite de 40em */
    max-width: 40em;
    height: auto; /* Altura baseada no conteúdo */
    max-height: 90vh; /* Limite da altura em relação à viewport */
    padding: 3.5em;
    box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 auto;
    overflow-y: auto; /* Scroll se o conteúdo exceder a altura máxima */
}

#title {
    margin-bottom: 1em;
}

#botoes_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icone {
    margin-right: 0.5em;
}